@import "tailwindcss";
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(24, 22, 22, 0.87);
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
}

#county-selector {
    overflow-y: scroll;
}

.county-geo {
    fill: gray;
    transition: fill 0.15s;
}

.county-geo:hover {
    fill: #aaa;
    cursor: pointer;
}

.county-geo-incident {
    fill: #f76;
}

.county-geo-incident:hover {
    fill: #fa6;
}

.county-incident-hover {
    background-color: gold;
    fill: #fa6;
}

.county-geo-selectable, .county-predict {
    fill: goldenrod;
}

.county-predict-hover, .county-predict-hover:hover {
    fill: gold;
    background-color: gold;
}

.county-geo-selectable:hover, .county-geo-selected {
    fill: gold;
}

.county-choice, .time-choice {
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 3px 8px;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.15s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-choice:hover {
    background-color: gold;
}

.incident-list > * {
    color: white;
    border-radius: 10px;
    transition: font-size 0.25s, line-height 0.25s;
}

.incident-list > * span {
    transition: color 0.25s;
    color: white;
}

.incident-list > * span:hover {
    cursor: pointer;
}

.incident-list > *:hover span {
    transition: color 0.25s;
    color: red;
}

.unselectable, text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bars > * {
    transition: fill 0.15s;
}

.bars > :nth-child(1), .incident-list > :nth-child(1){
    background-color: dodgerblue;
    fill: dodgerblue;
}

.bars > :nth-child(1):hover{
    fill: hsl(210, 100%, 71%);
}

.bars > :nth-child(2), .incident-list > :nth-child(2) {
    background-color: darkviolet;
    fill: darkviolet;
}

.bars > :nth-child(2):hover {
    fill: hsl(282, 100%, 56%);
}

.bars > :nth-child(3), .incident-list > :nth-child(3) {
    background-color: darkorange;
    fill: darkorange;
}

.bars > :nth-child(3):hover {
    fill: hsl(33, 100%, 65%);
}

.bars > :nth-child(4), .incident-list > :nth-child(4) {
    background-color: lightseagreen;
    fill: lightseagreen;
}

.bars > :nth-child(4):hover {
    fill: hsl(177, 70%, 46%)
}

.bars > :nth-child(5), .incident-list > :nth-child(5) {
    background-color: deeppink;
    fill: deeppink;
}

.bars > :nth-child(5):hover {
    fill: hsl(328, 100%, 74%);
}

.tooltip {
    position: absolute;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 0.5rem;
    border-radius: 8px;
}

#submit-button {
    transition: background-color 0.2s;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #0a0;
}