@import "tailwindcss";
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(24, 22, 22, 0.87);
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
}

#county-selector {
    overflow-y: scroll;
}

.county-choice {
    font-size: 0.9rem;
    padding: 3px;
    margin: 2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .county {
    fill: gray;
    stroke: white;
    stroke-width: 0.5;
}

.outerEdge {
    fill: none;
    stroke: black;
} */